.filterPanel {
  display: flex;
  flex-direction: column;
  //border: 1px solid black;
  width: 200px;
  height: 400px;
}
.filterHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.icon {
  :hover
  { cursor: pointer;
}
}

.itemList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
  padding: 0 25px;

  font-size: 15px;
  //border: 1px red dashed;

  .item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}

ul {
  //border: 2px blue solid;
  padding-left: 25px;
  margin-top: -10px;
}

.viewMoreMenu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: rgb(131, 124, 124);
  margin-top: 10px;


  :hover {
    cursor: pointer;
  }
}

hr {
  width: 10%;
  text-align: left;
  margin-left: 0;
}

.selectedFilters {
  border: 1px black solid;
  width: 300px;
  height: 400px;
  margin: 60px;
}

.view {
  display: flex;
}